h1 {
  color: darkorange;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

tfoot tr {
  margin-top:10%;
  border: 2px solid orange;
  border-radius: 10px;
  color: grey;
}

.true {
  border: 1px solid green;
}

.false {
  border: 1px solid red;
}

.changed-this-step {
  font-weight: bold;
  color: darkorange;
}

.changed-last {
  font-weight: normal;
  color: black;
}

.not-changed-last {
  font-weight: lighter;
  color: black;
}

.scrollable-div {
  overflow-y: auto;
  max-height: 55vh;
}

.arr-table {
  width: 100%;
  table-layout: fixed;
  padding: 0px;
  margin: 0px;
}

.arr-head {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-weight: lighter;
}

.arr-data {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.brand-logo {
  margin-left: 10px;
}

.code {
  min-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.stdout {
  min-height: 12vh;
  overflow-y: auto;
}

.foot-txt {
  margin: 0;
  padding: 0;
}