h1 {
  color: darkorange;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

tfoot tr {
  margin-top:10%;
  border: 2px solid orange;
  border-radius: 10px;
  color: grey;
}

.true {
  border: 1px solid green;
}

.false {
  border: 1px solid red;
}

.changedThisStep {
  font-weight: bold;
  color: darkorange;
}

.notChangedThisStep {
  font-weight: lighter;
  color: black;
}